.material-card{
    background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    max-width: 100%;
    border: none;
}

.modal-section-header{
    background-color: var(--lwc-brandAccessible);
}

.seccion-campos-faltantes{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.hijo-campo-faltante{
    width: 32%;
}

@media (max-width: 600px) {
    .hijo-campo-faltante{
        width: 96%;
    }
  }