.underline {
    border-bottom: 1px solid lightgrey;
}

.div-padre{
    min-width: 25%;
}

.div-hijo{
    display: flex;
    align-items: center;
    min-width: 100%;
    justify-content: space-between;
}

.dlle-cta-participe{
    display: flex;
    flex-direction: column;    
}

.btn-regresar{
    display: flex;
    justify-content: flex-end;
}